nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    color: azure;
}

navBar a{
    color: red;
}

.active{
    background-color: black;
    color: white;
}